<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/docstyle.css') }}">
<body>

	
<div class = "bgimage">
	
	<div class="menu">
		
		<div class="leftmenu">
		<a href="{{ url_for('home')}}"><h4> HEART HOSPITAL </h4></a>
		</div>
	
		<div class="rightmenu">
			<ul>
				<a href="{{ url_for('home')}}"><li> HOME </li></a>
				<a href="{{ url_for('doctor')}}"><li> Our Doctors</li></a>
				<a href="{{ url_for('about_heart')}}"><li> About Heart </li></a>
				<a href="{{ url_for('about_diabetes')}}"><li> About Diabetes</li></a>
				<li> Be Healthy :)</li>
			</ul>
		</div>
	</div>

	<div>
		<img class="img2" src="{{url_for('static', filename='css/doc1.png')}}"  width="304" height="236">
			<div class="absolute">
				

			<u>  <h2> DR. ANAND R SHENOY </h2>   </u>
				<br> 
			    <h3>QUALIFICATION</h3>  <br>
                <p>* MBBS | MD | DM | FICC | FSCAI | MEAPCI</p>
                <br>
                <h3> LANGUAGES SPOKEN</h3>
                <br>
				<p>* Kannada </p>
				<p>* Hindi</p>
				<p>* English</p>
				<p>* Konkani</p>
				<br>
				<h3> FIELD OF EXPERTISE</h3>
				<br>
				<p>* Ischemic Heart Disease </p>
				<p>* CAD, Angioplasty (PTCA)</p>
				<p>* Primary PCI</p>

			</div>		
		<hr>	
	</div>


	<div>
	
		<img class="img1" src="{{url_for('static', filename='css/doc2.png')}}" width="304" height="236">
			<div class="absolute1">
				

			<u>  <h2> DR. JYOTI KUSNUR </h2>   </u>	
				<br> 
			    <h3>QUALIFICATION</h3>  <br>
                <p>* MBBS | MD Medicine | DNB Cardiology</p>
                <br>
                <h3> LANGUAGES SPOKEN</h3>
                <br>
				<p>* Kannada </p>
				<p>* Hindi</p>
				<p>* English</p>
				<p>* Konkani</p>
				<br>
				<h3> FIELD OF EXPERTISE</h3>
				<br>
				<p>* Ischemic Heart Disease </p>
				<p>* interventional Cardiology</p>
			

		</div>		
		
	</div>

	<hr>

	<div>
	
		<img class="img3" src="{{url_for('static', filename='css/doc3.png')}}" width="304" height="236">
			<div class="absolute2">
				

			<u>  <h2> DR. NARAYAN BHAT M </h2>   </u>	
				<br> 
			    <h3>QUALIFICATION</h3>  <br>
                <p>* MBBS, MD (Medicine), DM(Cardiology) PGI</p>
                <br>
                <h3> LANGUAGES SPOKEN</h3>
                <br>
				<p>* Kannada </p>
				<p>* Hindi</p>
				<p>* English</p>
				<p>* Tulu</p>

				<br>
				<h3> FIELD OF EXPERTISE</h3>
				<br>
				<p>* Interventional Cardiology</p>
				<p>* Echocardioplasty</p>
			
		</div>		
		<hr>
		
	</div>

</div>

</body>
</html>

	